<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<link rel="stylesheet" href="<%= url('/main.css')%>">
</head>
<body>
<div class="wrapper">
	<h1><%=@quiz.title%></h1>

	<form action="/form" method="post"> 

		<% @questions.each do |q| %>

			<h2> <%= q.title %> </h2>

			<% q.answers.each do |a| %>
			  <div class="answer">
			  <input type="radio" name=<%= q.id.to_s %> value=<%= a.value %>> <h3> <%=a.title %> </h3>
			  </div>
			<% end %>

		<% end %>
		<input type="hidden" name="quiz" value=<%= @quiz.id%> >
		
		 <input type="Submit">

	</form>
</div>
</body>
</html>



